#task {
    padding: 1rem;
    border-radius: 8px;
    max-height: 60vh;
    overflow-y: scroll;
    background-color: #3a2c54;
    width: 150%;
    box-sizing: border-box;
 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensure items are centered vertically */
    margin-bottom: 2rem;
    gap: 1rem;
}

h1 {
    margin: 0;
    font-size: 1.25rem;
    color: white;
}

menu {
    margin: 0;
    padding: 20px;
    margin-left: 40px;
}

menu button {
    font: inherit;
    cursor: pointer;
    background-color: #9965dd;
    border-radius: 4px;
    border: none;
    padding: 0.35rem 0.8rem;
    font-size: 0.9rem;
    align-items: center;
    background-color: #9965dd;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
}

menu button:hover,
menu button:active {
    background-color: #a565dd;
}
