<app-header></app-header>

<main class="main-container">
  <div class="left-column">
    <ul id="users">
      <p *ngFor="let user of users">
        <app-child
          [users]="user"
          [selected]="user.id === selectid"
          (select)="onSelectUser($event)">
        </app-child>
      </p>
    </ul>
  </div>

  <div class="right-column">
    <app-task [userId]="selectedUser.id" *ngIf="selectedUser; else fallback" [name]="selectedUser.name"></app-task>
    <ng-template #fallback>
      <h1>Select the user</h1>
    </ng-template>
  </div>
</main>
