<app-header></app-header>

<main class="main-container">
  <div class="left-column">
    <ul id="users">
      @for (user of users; track user.id) {
        <app-child
        [users]="user"
           (select)="onSelectUser($event)">
         </app-child>  
      }

     
    </ul>
  </div>



  <div class="right-column">

    @if(selectedUser){
  <app-task [name]="selectedUser.name" ></app-task>
    }
    @else{
      <h1> Select the user </h1>
    }
  </div>
  
  <app-hello (hello)="sayHiii($event)"></app-hello>
</main>
