div {
    margin-top: 2%;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 20%;

}

button {
    display: flex;
        align-items: center;
        padding: 0.35rem 0.5rem;
        background-color: #433343;
        color: aliceblue;
        border: none;
        font: inherit;
        cursor: pointer;
        min-width: 10rem;
        text-align: left;
        width: 100%;
        height: 50px;

      
}

button:hover,
button:active {
    background-color: darkgrey;
    color: black;
}

img {
    padding: 5%;
    width: 30px;
    height: 80px;
    object-fit: contain;
    border-radius: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

span {
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
}
button {
    transition: height 0.3s ease;
  }
  
  button.active {
    height: 60px; /* Adjust the height as needed */
  }
  
  button {
    transition: height 0.3s ease, background-color 0.3s ease;
    background-color: #5a3d5c; /* Default background color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  button.active {
    height: 60px; /* Adjust the height as needed */
    background-color: darkgrey; /* Highlight background color */
  }
  
  button img {
    margin-right: 10px;
  }
  